*,
*:after,
*::before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.tt-grid {
	position: relative;
	margin: 20px auto;
	padding: 0;
	max-width: 960px;
	list-style: none;
	text-align: center;
	font-size: 0px;
}

.tt-grid:before,
.tt-grid:after {
	display: table;
	content: ' ';
}

.tt-grid:after {
	clear: both;
}

.tt-grid li {
	position: relative;
	display: inline-block;
	margin: 10px;
	width: 300px;
	height: 225px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.tt-grid li a,
.tt-grid li a img {
	display: block;
	margin: 0 auto;
	border: none;
}

.tt-grid li a {
	background: #000;
	position: absolute;
	top: 0;
	left: 0;
}

}
.tt-grid-wrapper nav{
padding-bottom: 40px!important;
}

/* Individual grid effects */

/* Fall down / scale up */
.tt-effect-fall.tt-effect-active li:not(.tt-empty) a:first-child {
	-webkit-animation: fallDown 0.6s forwards;
	animation: fallDown 0.6s forwards;
}

.tt-effect-fall.tt-effect-active li a:nth-child(2),
.tt-effect-fall.tt-effect-active li.tt-empty a {
	opacity: 0;
	-webkit-animation: scaleUpFadeIn 0.6s forwards;
	animation: scaleUpFadeIn 0.6s forwards;
}


/* Animation delays */
.tt-grid-wrapper .tt-effect-delay.tt-effect-active li:nth-child(2) a {
	-webkit-animation-delay: 0.1s;
	animation-delay: 0.1s;
}

.tt-grid-wrapper .tt-effect-delay.tt-effect-active li:nth-child(3) a {
	-webkit-animation-delay: 0.2s;
	animation-delay: 0.2s;
}

.tt-grid-wrapper .tt-effect-delay.tt-effect-active li:nth-child(4) a {
	-webkit-animation-delay: 0.3s;
	animation-delay: 0.3s;
}

.tt-grid-wrapper .tt-effect-delay.tt-effect-active li:nth-child(5) a {
	-webkit-animation-delay: 0.4s;
	animation-delay: 0.4s;
}

.tt-grid-wrapper .tt-effect-delay.tt-effect-active li:nth-child(6) a {
	-webkit-animation-delay: 0.5s;
	animation-delay: 0.5s;
}

/* Reverse delays */
.tt-grid-wrapper .tt-effect-delay-reversed.tt-effect-active li:nth-child(5) a {
	-webkit-animation-delay: 0.1s;
	animation-delay: 0.1s;
}

.tt-grid-wrapper .tt-effect-delay-reversed.tt-effect-active li:nth-child(4) a {
	-webkit-animation-delay: 0.2s;
	animation-delay: 0.2s;
}

.tt-grid-wrapper .tt-effect-delay-reversed.tt-effect-active li:nth-child(3) a {
	-webkit-animation-delay: 0.3s;
	animation-delay: 0.3s;
}

.tt-grid-wrapper .tt-effect-delay-reversed.tt-effect-active li:nth-child(2) a {
	-webkit-animation-delay: 0.4s;
	animation-delay: 0.4s;
}

.tt-grid-wrapper .tt-effect-delay-reversed.tt-effect-active li:nth-child(1) a {
	-webkit-animation-delay: 0.5s;
	animation-delay: 0.5s;
}

/* Animations */
@-webkit-keyframes fallDown {
	to { opacity: 0; -webkit-transform: translateY(70%); }
}

@keyframes fallDown {
	to { opacity: 0; transform: translateY(70%); }
}

@-webkit-keyframes scaleUpFadeIn {
	from { opacity: 0; -webkit-transform: scale(0.8); }
	to { visibility: visible; opacity: 1; -webkit-transform: scale(1); }
}

@keyframes scaleUpFadeIn {
	from { opacity: 0; transform: scale(0.8); }
	to { visibility: visible; opacity: 1; transform: scale(1); }
}
